/* Estilo para las opciones seleccionadas */
.opcion {
    cursor: pointer; /* Cambiar el cursor a puntero */
}

.opcion.selected {
    background-color: #007bff; /* Color de fondo al seleccionar */
    color: white; /* Color del texto al seleccionar */
}
